<div *ngIf="(result$ | async)!.errorMessage">
  {{(result$ | async)!.errorMessage}}
</div>

<div>
  Result {{(result$ | async)!.value}}
</div>

<form>
  <label>
    Num Input:
    <input type="number" [formControl]="numInput">
  </label>
  <fieldset>
    <button type="button" (click)="doAdd()">+</button>
    <button type="button" (click)="doSubtract()">-</button>
    <button type="button" (click)="doMultiply()">*</button>
    <button type="button" (click)="doDivide()">/</button>
    <button type="button" (click)="doClear()">Clear</button>
  </fieldset>
  <ul>
    <li *ngFor="let entry of history$ | async">
      {{entry.id}} {{entry.opName}} {{entry.opValue}}
      <button type="button" (click)="doDeleteHistoryEntry(entry.id)">X</button>
    </li>
  </ul>
</form>
